html, body{
margin: 0px;
  margin-left: 50vw;
  margin-top: 76px;
  transform: translateX(-780px);
}


#retour{
  opacity:0;
}

#retour:hover{
  opacity:1;
}

#flecheretour{
  opacity:0.5;
}

#flecheretour:hover{
  opacity:0;
}


#croco1{
margin-top: 550px;
margin-left:550px;
-webkit-animation: pulseun 30s steps(1) infinite;
-moz-animation:    pulseun 30s steps(1) infinite;
-o-animation:      pulseun 30s steps(1) infinite;
animation:         pulseun 30s steps(1) infinite;
}

@-webkit-keyframes pulseun {
  0%   { opacity: 0; }
  5% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulseun {
  0%   { opacity: 0; }
  5% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulseun {
  0%   { opacity: 0; }
  5% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulseun {
  0%   { opacity: 0; }
  5% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

#croco2{
margin-top: 565px;
margin-left:550px;
-webkit-animation: pulsedeux 30s steps(1) infinite;
-moz-animation:    pulsedeux 30s steps(1) infinite;
-o-animation:      pulsedeux 30s steps(1) infinite;
animation:         pulsedeux 30s steps(1) infinite;
}

@-webkit-keyframes pulsedeux {
  0%   { opacity: 0; }
  6% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsedeux {
  0%   { opacity: 0; }
  6% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsedeux {
  0%   { opacity: 0; }
  6% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsedeux {
  0%   { opacity: 0; }
  6% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }


#croco3{
margin-top: 580px;
margin-left:550px;
-webkit-animation: pulsetrois 30s steps(1) infinite;
-moz-animation:    pulsetrois 30s steps(1) infinite;
-o-animation:      pulsetrois 30s steps(1) infinite;
animation:         pulsetrois 30s steps(1) infinite;
}

@-webkit-keyframes pulsetrois {
  0%   { opacity: 0; }
  7% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsetrois {
  0%   { opacity: 0; }
  7% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsetrois {
  0%   { opacity: 0; }
  7% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsetrois {
  0%   { opacity: 0; }
  7% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }


#croco4{
margin-top: 595px;
margin-left:550px;
-webkit-animation: pulsequatre 30s steps(1) infinite;
-moz-animation:    pulsequatre 30s steps(1) infinite;
-o-animation:      pulsequatre 30s steps(1) infinite;
animation:         pulsequatre 30s steps(1) infinite;
}

@-webkit-keyframes pulsequatre {
  0%   { opacity: 0; }
  8% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsequatre {
  0%   { opacity: 0; }
  8% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsequatre {
  0%   { opacity: 0; }
  8% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsequatre {
  0%   { opacity: 0; }
  8% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

        #croco5{
margin-top: 610px;
margin-left:550px;
-webkit-animation: pulsecinq 30s steps(1) infinite;
-moz-animation:    pulsecinq 30s steps(1) infinite;
-o-animation:      pulsecinq 30s steps(1) infinite;
animation:         pulsecinq 30s steps(1) infinite;
}

@-webkit-keyframes pulsecinq {
  0%   { opacity: 0; }
  9% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsecinq {
  0%   { opacity: 0; }
  9% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsecinq {
  0%   { opacity: 0; }
  9% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsecinq {
  0%   { opacity: 0; }
  9% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }


#croco6{
margin-top: 625px;
margin-left:550px;
-webkit-animation: pulsesix 30s steps(1) infinite;
-moz-animation:    pulsesix 30s steps(1) infinite;
-o-animation:      pulsesix 30s steps(1) infinite;
animation:         pulsesix 30s steps(1) infinite;
}

@-webkit-keyframes pulsesix {
  0%   { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsesix {
  0%   { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsesix {
  0%   { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsesix {
  0%   { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

        #croco7{
margin-top: 640px;
margin-left:550px;
-webkit-animation: pulsept 30s steps(1) infinite;
-moz-animation:    pulsept 30s steps(1) infinite;
-o-animation:      pulsept 30s steps(1) infinite;
animation:         pulsept 30s steps(1) infinite;
}

@-webkit-keyframes pulsept {
  0%   { opacity: 0; }
  11% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsept {
  0%   { opacity: 0; }
  11% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsept {
  0%   { opacity: 0; }
  11% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsept {
  0%   { opacity: 0; }
  11% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

        #croco8{
margin-top: 655px;
margin-left:550px;
-webkit-animation: pulsehuit 30s steps(1) infinite;
-moz-animation:    pulsehuit 30s steps(1) infinite;
-o-animation:      pulsehuit 30s steps(1) infinite;
animation:         pulsehuit 30s steps(1) infinite;
}

@-webkit-keyframes pulsehuit {
  0%   { opacity: 0; }
  12% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }




@-moz-keyframes pulsehuit {
  0%   { opacity: 0; }
  12% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@-o-keyframes pulsehuit {
  0%   { opacity: 0; }
  12% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }

@keyframes pulsehuit {
  0%   { opacity: 0; }
  12% { opacity: 1; }
  20% { opacity: 0;}
    21% { opacity: 1;}
        21.2% { opacity: 0;}
        21.4%{opacity:1;}
        23%{opacity: 0;}
        }